body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Hero Section Styles */
.hero {
  width: 100%;
}

.hero img {
  width: 100%;
}

/* Main Section Styles */
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.aside {
  width: 40%;
  box-shadow: 0px 0px 3px black;
  padding: 0;
}

.aside img,
.article img {
  width: 100%;
}

.article {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: fit-content;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}
@media only screen and (max-width: 425px) {
  .main {
    flex-direction: column;
  }

  .navbar {
    justify-content: center;
  }

  .aside {
    width: 100%;
    padding: 0;
  }

  .aside p {
    padding: 8px;
  }

  .card {
    width: 100%;
  }
}
